*{
    box-sizing: inherit;

}
html{
    font-size: 16px;
    color: #77797b;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f3f3f4;
}
.btn{
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 2px;
}

.main{
    .modul{
        max-width: 800px;
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        min-height: 400px;
        .modul__container{
            display: flex;
            .modul__introduce{
                max-width: 360px;
                .modul__introduce-heading{
                    font-size: 25px;
                    font-weight: 400;
                }
                .modul__introduce-text{
                    font-size: 14px;
                }
                .modul__introduce-text-small{
                    font-size: 12px;
                }
            }
            .modul__form{
                margin-left: 60px;
                flex: 1;
                .auth-form-input{
                    display: block;
                    width: 100%;
                    height: 34px;
                    padding: 0 12px;
                    margin: 15px 0;
                    font-size: 14px;
                    border: none;
                    outline: none;
                }
                .form-login{
                    background-color: #1ab394;
                    color: #fff;
                    padding: 9px 0;
                    cursor: pointer;
                    font-weight: 400;
                }
                .forgot-password{
                    color: #4988be;
                    font-size: 12px;
                    text-decoration: none;
                }
                .text-ask{
                    text-align: center;
                    font-size: 10px;
                }
                .form-create{
                    padding: 8px 0;
                    background-color: #fff;
                    color: #77797b;
                    border: 1px solid #000;
                    cursor: pointer;
                }
            }
        }
        .modul__copyright{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin-top: 106px;
        }
    }
}

// Mobile và Tablet

@media (max-width: 1023px){

}

// Tablet
@media (min-width: 740px) and (max-width: 1023px){

}

// Mobile
@media (max-width: 740px){
    .main{
        .modul{
            .modul__container{
                flex-direction: column;
                .modul__introduce{
                    margin: auto;
                    width: 100%;
                    .modul__introduce-heading{
                        text-align: center;
                    }
                    .modul__introduce-text{
                        display: none;
                    }
                    .modul__introduce-text-small{
                        display: none;
                    }
                }
                .modul__form{
                    margin-left: unset;
                }
            }
        }
    }
}

@media (max-width: 329px){
    .main{
        .modul{
            .modul__copyright{
                .infor-company{
                    font-size: 12px;
                }
                .time-write{
                    font-size: 12px;
                }
            }
        }
    }
}